<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Diploma Yandex Praktikum">
  <meta name="author" content="Svyatoslav Savilov">
  <title>News Explorer / О проекте</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.about.css %>">
  <link rel="icon" href="../<%= require('../../images/favicon2.png')%>" type="image/png">
</head>

<body>
  <div id="scroll" class="scroll-lock">
    <div class="page">
      <header class="header header_white">
        <nav class="heading heading_black">
          <a href="../" class="heading__logo heading__logo_black">News Explorer</a>
          <div class="heading__mobile heading__mobile_black" id="mobile-menu"></div>
          <ul class="heading__list">
            <li class="heading__list-item"><a href="../" class="heading__link heading__link_black">Главная</a></li>
            <li class="heading__list-item heading__list-item_selected-black"><a href="./" class="heading__link heading__link_selected-black">О проекте</a></li>
            <li class="heading__list-item" id="menu-saved-articles"><a href="../articles/" class="heading__link heading__link_black">Сохранённые статьи</a></li>
            <li class="heading__list-item"><span class="heading__link heading__link_logged heading__link_logged-black" id="user-area">
              <span id="shown-user-name"></span>
              <span class="heading__out heading__out_black"></span></span></li>
          </ul>
        </nav>
      </header>

      <main class="client">
        <h1 class="client__title">Клиентам</h1>
        <p class="client__text">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему
          научился студент, какими технологиями владеет. Вёрстка сайта выполнена по методологии БЭМ. </p>
        <p class="client__text">Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы и
          функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле
          поддерживать.</p>
        <p class="client__text">Студент самостоятельно написал серверный код. В нём реализована функциональность
          регистрации и входа в систему. Сайт позволяет искать новости за прошедшую неделю и сохранять понравившиеся в
          личном кабинете. На сервере избранные новости хранятся в базе данных Mongo DB. Студент запрограммировал надёжный
          сервер: отказоустойчивый и безопасный.</p>
        <p class="client__text">При создании проекта была использована сборка технологией Webpack. Это современный
          подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых
          браузерах. Даже если посетители — пользователи старых операционных систем, у них не будет проблем с
          отображением. А значит, потенциальная аудитория возрастает.</p>
        <p class="client__text">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы
          рекомендуем обратиться к этому студенту.</p>
      </main>

      <section class="skills">
        <h2 class="skills__title">Используемые технологии</h2>
        <div class="skills__logos">
          <img src="../<%= require('../../images/html.svg')%>" alt="Логотип HTML">
          <img src="../<%= require('../../images/css.svg')%>" alt="Логотип CSS">
          <img src="../<%= require('../../images/js.svg')%>" alt="Логотип JS">
          <img src="../<%= require('../../images/webpack.svg')%>" alt="Логотип Webpack">
        </div>
      </section>

      <section class="about">
        <img class="about__photo" src="../<%= require('../../images/ii.jpg')%>" alt="Автопортрет">
        <div>
          <h3 class="about__title">Об авторе</h3>
          <p class="about__text">
            Это блок с описанием автора проекта. Здесь следует указать,
            как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.
          </p>
          <p class="about__text">
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились,
            и чем можете помочь потенциальным заказчикам.
          </p>
        </div>
      </section>

      <section class="slider">
        <div class="swiper-button-prev"></div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <template id="commit-sample">
              <div class="swiper-slide">
                <div class="slider__commit-card">
                  <p class="slider__commit-date"></p>
                  <div class="slider__commit-person">
                    <img class="slider__commit-image" src="" alt="Фото профиля GitHub">
                    <div>
                      <h4 class="slider__commit-name"></h4>
                      <p class="slider__commit-email"></p>
                    </div>
                  </div>
                  <p class="slider__commit-text"></p>
                </div>
              </div>
            </template>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-button-next next"></div>
        <a class="button slider__git-button" href="https://github.com/snegmen/" target="_blank">Открыть в GitHub</a>
      </section>

      <footer class="footer">
        <p class="footer__copyright">&#169; 2019 snegmen</p>
        <nav>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="../" class="footer__list-item_link">Главная</a></li>
            <li class="footer__list-item"><a href="./" class="footer__list-item_link">О проекте</a></li>
            <li class="footer__list-item"><a href="https://praktikum.yandex.ru" class="footer__list-item_link" target="_blank">Яндекс.Практикум</a></li>
          </ul>
        </nav>
        <p class="footer__links">
          <a href="https://github.com/snegmen/" class="footer__icon" target="_blank">
            <img src="../<%= require('../../images/git.svg')%>" alt="Логотип GitHub">
          </a>
          <a href="https://facebook.com" class="footer__icon" target="_blank">
            <img src="../<%= require('../../images/facebook.svg')%>" alt="Логотип Facebook">
          </a>
        </p>
      </footer>
    </div>

    <div id="hiding-blocks">
      <!-- Уберите(добавьте) класс popup_hide -->
      <section class="popup popup_hide" id="login-form">
        <form class="popup__wrap" name="login">
          <div class="popup__close" id="close-login-form"></div>
          <h4 class="popup__title">Вход</h4>
          <span class="popup__subtitle">E-mail</span>
          <input class="popup__input" name="email" id="email" type="email" placeholder="Введите почту" required>
          <span class="popup__error popup__error_hide" id="error-email">Неправильный формат email</span>
          <span class="popup__subtitle">Пароль</span>
          <input class="popup__input" name="password" id="password" type="password" placeholder="Введите пароль" required>
          <span class="popup__error popup__error_hide" id="error-password">Введите пароль</span>
          <span class="popup__error popup__error_hide popup__error_user" id="login-fatal">Неправильный логин или пароль</span>
          <button class="button popup__button" name="login-button" type="submit">Войти</button>
          <span class="popup__or">или<span class="popup__or-click" id="open-signup-form">Зарегистрироваться</span></span>
        </form>
      </section>
      <!-- Уберите(добавьте) класс popup_hide -->
      <section class="popup popup_hide" id="signup-form">
        <form class="popup__wrap" name="signup">
          <div class="popup__close" id="close-signup-form"></div>
          <h4 class="popup__title">Регистрация</h4>
          <span class="popup__subtitle">E-mail</span>
          <input class="popup__input" name="email" id="regemail" type="email" placeholder="Введите почту" required>
          <span class="popup__error popup__error_hide" id="error-regemail">Введите email</span>
          <span class="popup__subtitle">Пароль</span>
          <input class="popup__input" name="password" id="regpassword" type="password" placeholder="Введите пароль" required minlength="8">
          <span class="popup__error popup__error_hide" id="error-regpassword">Длина пароля не менее 8 символов</span>
          <span class="popup__subtitle">Имя</span>
          <input class="popup__input" name="username" id="regname" placeholder="Введите свое имя" required minlength="2" pattern="[A-Za-zА-Яа-я]{2,}">
          <span class="popup__error popup__error_hide" id="error-regname">Введите имя (только буквы не менее 2)</span>
          <span class="popup__error popup__error_user popup__error_hide" id="signup-fatal">Такой пользователь уже есть</span>
          <button class="button popup__button" name="signup-button" type="submit">Зарегистрироваться</button>
          <span class="popup__or">или<span class="popup__or-click" id="open-login-form">Войти</span></span>
        </form>
      </section>
      <!-- Уберите(добавьте) класс popup_hide -->
      <section class="popup popup_hide" id="signup-ok">
        <form class="popup__wrap" name="is-ok">
          <div class="popup__close" id="close-signup-ok-form"></div>
          <h4 class="popup__title">Пользователь успешно зарегистрирован!</h4>
          <span class="popup__or popup__or_left">
            <span class="popup__or-click" id="open-login-modal">Выполнить вход</span>
          </span>
        </form>
      </section>

      <div class="overlay"></div>
    </div>
  </div>
  <script src="<%= htmlWebpackPlugin.files.chunks.about.entry %>"></script>
</body>

</html>