.heading__link.heading__link_logged {
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 19px 12px;
}

.heading__link_logged.heading__link_logged-black {
  border: 1px solid #d1d2d6;
  color: #000;
}

.heading__link_logged.heading__link_logged-black:hover {
  border: 1px solid #000;
}

@media screen and (max-width: 1023px) {
  .heading__link.heading__link_logged {
    padding: 8px 15px 8px;
  }
}
