.about__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin-top: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 1023px) {
  .about__title {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .about__title {
    margin-top: 24px;
  }
}
