<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Diploma Yandex Praktikum">
  <meta name="author" content="Svyatoslav Savilov">
  <title>News Explorer / Сохранённые статьи</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.articles.css %>">
  <link rel="icon" href="../<%= require('../../images/favicon2.png')%>" type="image/png">
</head>

<body>
  <div class="page">
    <header class="header header_white">
      <nav class="heading heading_black">
        <a href="../" class="heading__logo heading__logo_black">News Explorer</a>
        <div class="heading__mobile heading__mobile_black" id="mobile-menu"></div>
        <ul class="heading__list">
          <li class="heading__list-item"><a href="../" class="heading__link heading__link_black">Главная</a></li>
          <li class="heading__list-item"><a href="../about/" class="heading__link heading__link_black">О проекте</a></li>
          <li class="heading__list-item heading__list-item_selected-black" id="menu-saved-articles"><a href="./" class="heading__link heading__link_selected-black">Сохранённые статьи</a></li>
          <li class="heading__list-item"><span class="heading__link heading__link_logged heading__link_logged-black" id="user-area">
            <span id="shown-user-name"></span>
            <span class="heading__out heading__out_black"></span></span></li>
        </ul>
      </nav>
    </header>

    <section class="saved-description">
      <h5 class="saved-description__subtitle">Сохранённые статьи</h5>
      <h1 class="saved-description__title">, у вас <span class="articles-qty"></span></h1>
      <p class="saved-description__keywords">По ключевым словам: <b><span class="first-word"></span><span class="second-word"></span></b><span
        class="word-tail"> и <b><span class="and-more"></span>
          другим</b></span></p>
    </section>

    <main class="saved-articles">
      <template id="card-sample">
        <a href="#" class="card">
          <div class="card__upper-body">
            <div class="card__picture"></div>
            <div class="card__icon card__icon_del"></div>
            <p class="card__balloon">Убрать из сохраненных</p>
            <p class="card__keyword"></p>
            <div class="card__wrapper">
              <p class="card__date"></p>
              <h4 class="card__title"></h4>
              <p class="card__text"></p>
            </div>
          </div>
          <p class="card__source"></p>
        </a>
      </template>
    </main>

    <footer class="footer">
      <p class="footer__copyright">&#169; 2019 snegmen</p>
      <nav>
        <ul class="footer__list">
          <li class="footer__list-item"><a href="../" class="footer__list-item_link">Главная</a></li>
          <li class="footer__list-item"><a href="../about/" class="footer__list-item_link">О проекте</a></li>
          <li class="footer__list-item"><a href="https://praktikum.yandex.ru" class="footer__list-item_link" target="_blank">Яндекс.Практикум</a></li>
        </ul>
      </nav>
      <p class="footer__links">
        <a href="https://github.com/snegmen/" class="footer__icon" target="_blank">
          <img src="../<%= require('../../images/git.svg')%>" alt="Логотип GitHub">
        </a>
        <a href="https://facebook.com" class="footer__icon" target="_blank">
          <img src="../<%= require('../../images/facebook.svg')%>" alt="Логотип Facebook">
        </a>
      </p>
    </footer>
  </div>

  <div id="hiding-blocks">
    <div class="overlay"></div>
  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.articles.entry %>"></script>
</body>

</html>