<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Diploma Yandex Praktikum">
  <meta name="author" content="Svyatoslav Savilov">
  <title>News Explorer / О проекте</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.articles.css %>">
  <link rel="icon" href="../<%= require('../../images/favicon2.png')%>" type="image/png">
</head>

<body>
  <h1>Articles To be continue...</h1>
  <script src="<%= htmlWebpackPlugin.files.chunks.articles.entry %>"></script>
</body>

</html>