.heading__link.heading__link_not-logged {
  display: flex;
  border-radius: 100px;
  padding: 12px;
  border: 1px solid #b6bcbf;
  align-items: center;
  box-sizing: border-box;
}

.heading__link.heading__link_not-logged:hover {
  border: 1px solid #fff;
}

@media screen and (max-width: 1023px) {
  .heading__link.heading__link_not-logged {
    padding: 8px;
  }
}

@media screen and (max-width: 767px) {
  .heading__link.heading__link_not-logged {
    padding: 15px;
  }
}

@media screen and (max-width: 374px) {
  .heading__link.heading__link_not-logged {
    width: 100%;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
  }
}
