.card__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}

@media screen and (max-width: 1023px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .card__title {
    margin-top: 10px;
  }
}
