@import url(./_black/heading__logo_black.css);

.heading__logo {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  margin-left: 104px;
  margin-top: 30px;
  margin-bottom: 26px;
}

@media screen and (max-width: 1023px) {
  .heading__logo {
    margin-top: 22px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .heading__logo {
    margin-left: 16px;
  }
}
