@import url(_hide/popup__wrap_hide.css);

.popup__wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: flex;
  background-color: rgba(0, 0, 0, .5);
}
