@import url(__title/search__title.css);
@import url(__subtitle/search__subtitle.css);
@import url(__form/search__form.css);
@import url(__form-input/search__form-input.css);
@import url(__button/search__button.css);

.search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  margin: auto;
}

@media screen and (max-width: 1023px) {
  .search {
    width: 448px;
    min-height: 400px;
    align-content: center;
  }
}

@media screen and (max-width: 767px) {
  .search {
    width: 288px;
    min-height: 536px;
  }
}

@media screen and (max-width: 323px) {
  .search {
    width: 100%;
  }
}