.card__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}

@media screen and (max-width: 1023px) {
  .card__text {
    margin-top: 10px;
  }
}
