.heading__item.heading__item_selected{
  border-bottom: #fff 2.5px solid;
  height: 47.5px;
}

.heading__item.heading__item_selected-black {
  border-bottom: #000 2.5px solid;
  height: 47.5px;
}

@media screen and (max-width: 1023px) {
  .heading__item.heading__item_selected {
    height: 41.5px;
  }
  .heading__item.heading__item_selected-black {
    height: 41.5px;
  }
}
