.button.results__button {
  background-color: #fff;
  color: #000;
  margin: 0 auto 0;
  border-radius: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 288px;
  height: 64px;
  justify-content: center;
}

.button.results__button.results__button_hide {
  display: none;
}

.button.results__button:active {
  background-color: #e8e8e9;
}

.button.results__button:hover {
  opacity: .9;
  background-color: #e8e8e9;
}

@media screen and (max-width: 1023px) {
  .button.results__button {
    margin: 32px auto 0;
    padding: 15px 40px 15px 40px;
  }
}

@media screen and (max-width: 767px) {
  .button.results__button {
    margin-top: 15px;
    margin-bottom: 0;
    width: calc(100% - 32px);
  }
}
