.slider__commit-name {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .slider__commit-name {
    font-size: 20px;
  }
}
