<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Diploma Yandex Praktikum">
  <meta name="author" content="Svyatoslav Savilov">
  <title>News Explorer</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="icon" href="<%= require('./images/favicon2.png')%>" type="image/png">
</head>

<body>
  <header class="header">
    <!-- <nav class="heading">
      <a href="./" class="heading__logo">News Explorer</a>
      <div class="heading__mobile" id="mobile-menu"></div>
      <ul class="heading__list">
        <li class="heading__item heading__item_selected"><a href="./" class="heading__link heading__link_selected">Главная</a></li>
        <li class="heading__item"><a href="./about/" class="heading__link">О проекте</a></li>
        <li class="heading__item"><a href="./articles/" class="heading__link">Сохранённые статьи</a></li>
        <li class="heading__item"><a href="#" class="heading__link heading__link_logged">Lenin<div class="heading__logout"></div></a></li>
      </ul>
    </nav> -->
    <nav class="heading">
      <a href="./" class="heading__logo">News Explorer</a>
      <div class="heading__mobile" id="mobile-menu"></div>
      <ul class="heading__list">
        <li class="heading__list-item heading__list-item_selected"><a href="./" class="heading__link heading__link_selected">Главная</a></li>
        <li class="heading__list-item"><a href="./about/" class="heading__link">О проекте</a></li>
        <li class="heading__list-item"><a href="./articles/" class="heading__link">Сохраненные статьи</a></li>
        <li class="heading__list-item"><span class="heading__link heading__link_logged">Lenin<span class="heading__out"></span></span></li>
      </ul>
    </nav>
    <div class=search>
      <h1 class="search__title">Что в мире творится?</h1>
      <h3 class="search__subtitle">Находите самые свежие статьи на любую тему
        и сохраняйте в своём личном кабинете.
      </h3>
      <form novalidate class="search__form" name="news-finder" method="POST">
        <input class="search__form-input" type="text" name="search" placeholder="Введите тему новости" required />
        <button class="button search__button" type="submit">Искать</button>
      </form>
    </div>
  </header>
  <section class=preloader>
      <!-- Добавьте(уберите) класс preloader__wrapper_hide -->
      <div class="preloader__wrapper preloader__wrapper_hide" id="preloader-searching">
        <i class="circle-preloader"></i>
        <h5 class="preloader__subtitle">Идет поиск новостей...</h5>
      </div>
      <!-- Добавьте(уберите) класс preloader__wrapper_hide -->
      <div class="preloader__wrapper " id="preloader-not-found">
        <img class="preloader__icon" src="<%= require('./images/not-found.svg')%>" alt="Ничего не найдено.">
        <h4 class="preloader__title">Ничего не найдено</h4>
        <h5 class="preloader__subtitle">К сожалению по вашему запросу ничего не найдено.</h5>
      </div>
    </section>
    <main class="results">
      <h3 class="results__title">Результаты поиска</h3>
        <div class="results__articles">
          <a href="#" class="card">
            <div class="card__upper-body">
              <div class="card__picture"></div>
              <div class="card__icon card__icon_saved"></div>
              <p class="card__balloon">Войдите, чтобы сохранять статьи</p>
              <div class="card__wrapper">
                <p class="card__date">26 ноября 2019</p>
                <h4 class="card__title">Первые танки. Британские «Ромбы»</h4>
                <p class="card__text">В конце раздела нашей Бронеколлекции, который был посвящен бронепоездам,
                   мы отмечали, что их золотой век окончился довольно быстро.
                </p>
              </div>
            </div>
            <p class="card__source">Наука и техника</p>
          </a>
          <a href="#" class="card">
            <div class="card__upper-body">
              <div class="card__picture"></div>
              <div class="card__icon"></div>
              <p class="card__balloon">Войдите, чтобы сохранять статьи</p>
              <div class="card__wrapper">
                <p class="card__date">26 ноября 2019</p>
                <h4 class="card__title">Долго запрягали – быстро полетят?
                  В ОАК озвучили планы по производству лайнера МС-21</h4>
                <p class="card__text">Представитель ПАО «Объединённая авиастроительная корпорация»
                  рассказал о подготовке серийного производства лайнеров МС-21. По словам советника
                  гендиректора ОАК, первая партия в шесть машин будет готова к 2021 году
                </p>
              </div>
            </div>
            <p class="card__source">Наука и техника</p>
          </a>
          <a href="#" class="card">
            <div class="card__upper-body">
              <div class="card__picture"></div>
              <div class="card__icon"></div>
              <p class="card__balloon">Войдите, чтобы сохранять статьи</p>
              <div class="card__wrapper">
                <p class="card__date">26 ноября 2019</p>
                <h4 class="card__title">Львы видят эти иллюзии так же, как и вы. И разрывают их в клочья</h4>
                <p class="card__text">Миллионы пользователей сходятся во мнении, что, хотя социальные сети
                  имеют множество недостатков, у них все-таки есть приятные аспекты. Это вирусные иллюзии и
                  милые видео с котиками. «А если их совместить?», – подумали ученые.
                </p>
              </div>
            </div>
            <p class="card__source">Наука и техника</p>
          </a>
          <a href="#" class="card">
            <div class="card__upper-body">
              <div class="card__picture"></div>
              <div class="card__icon"></div>
              <p class="card__balloon">Войдите, чтобы сохранять статьи</p>
              <div class="card__wrapper">
                <p class="card__date">26 ноября 2019</p>
                <h4 class="card__title">Львы видят эти иллюзии так же, как и вы. И разрывают их в клочья</h4>
                <p class="card__text">Миллионы пользователей сходятся во мнении, что, хотя социальные сети
                  имеют множество недостатков, у них все-таки есть приятные аспекты. Это вирусные иллюзии и
                  милые видео с котиками. «А если их совместить?», – подумали ученые.
                </p>
              </div>
            </div>
            <p class="card__source">Наука и техника</p>
          </a>
        </div>
        <button class="button results__button">Показать еще</button>
      </main>
      <section class="about">
        <img class="about__photo" src="<%= require('./images/ii.jpg')%>" alt="Автопортрет">
        <div>
          <h3 class="about__title">Об авторе</h3>
          <p class="about__text">
            Это блок с описанием автора проекта. Здесь следует указать,
            как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.
          </p>
          <p class="about__text">
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились,
            и чем можете помочь потенциальным заказчикам.
          </p>
        </div>
      </section>
      <footer class="footer">
        <p class="footer__copyright">&#169; 2019 snegmen</p>
        <nav>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="./" class="footer__list-item_link">Главная</a></li>
            <li class="footer__list-item"><a href="./about/" class="footer__list-item_link">О проекте</a></li>
            <li class="footer__list-item"><a href="https://praktikum.yandex.ru" class="footer__list-item_link" target="_blank">Яндекс.Практикум</a></li>
          </ul>
        </nav>
        <p class="footer__links">
          <a href="https://github.com/snegmen/" class="footer__icon" target="_blank">
            <img src="<%= require('./images/git.svg')%>" alt="Логотип GitHub">
          </a>
          <a href="https://facebook.com" class="footer__icon" target="_blank">
            <img src="<%= require('./images/facebook.svg')%>" alt="Логотип Facebook">
          </a>
        </p>
      </footer>

      <div id="hiding-blocks">
        <div class="overlay"></div>
      </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>