<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Diploma Yandex Praktikum">
  <meta name="author" content="Svyatoslav Savilov">
  <title>News Explorer</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="icon" href="<%= require('./images/favicon2.png')%>" type="image/png">
</head>

<body>
  <div id="scroll" class="scroll-lock">
    <div class="page">
      <header class="header">
        <nav class="heading">
          <a href="./" class="heading__logo">News Explorer</a>
          <div class="heading__mobile" id="mobile-menu"></div>
          <ul class="heading__list">
            <li class="heading__list-item heading__list-item_selected"><a href="./" class="heading__link heading__link_selected">Главная</a></li>
            <li class="heading__list-item"><a href="./about/" class="heading__link">О проекте</a></li>
            <li class="heading__list-item" id="menu-saved-articles"><a href="./articles/" class="heading__link">Сохранённые статьи</a></li>
            <li class="heading__list-item"><span class="heading__link heading__link_logged" id="user-area"><span id="shown-user-name"></span>
              <span class="heading__out"></span></span>
            </li>
          </ul>
        </nav>
        <div class=search>
          <h1 class="search__title">Что в мире творится?</h1>
          <h3 class="search__subtitle">Находите самые свежие статьи на любую тему
            и сохраняйте в своём личном кабинете.
          </h3>
          <form novalidate class="search__form" name="news-finder" method="POST">
            <input class="search__form-input" type="text" name="search" placeholder="Введите тему новости" required />
            <button class="button search__button" id="search-the-news" type="submit">Искать</button>
          </form>
        </div>
      </header>
      <section class=preloader>
        <!-- Добавьте(уберите) класс preloader__wrapper_hide -->
        <div class="preloader__wrapper preloader__wrapper_hide" id="preloader-searching">
          <i class="circle-preloader"></i>
          <h5 class="preloader__subtitle">Идет поиск новостей...</h5>
        </div>
        <!-- Добавьте(уберите) класс preloader__wrapper_hide -->
        <div class="preloader__wrapper preloader__wrapper_hide" id="preloader-not-found">
          <img class="preloader__icon" src="<%= require('./images/not-found.svg')%>" alt="Ничего не найдено.">
          <h4 class="preloader__title">Ничего не найдено</h4>
          <h5 class="preloader__subtitle">К сожалению по вашему запросу ничего не найдено.</h5>
        </div>
        <div class="preloader__wrapper preloader__wrapper_hide" id="preloader-server-error">
          <img class="preloader__icon" src="<%= require('./images/not-found.svg')%>" alt="Ничего не найдено.">
          <h4 class="preloader__title">Сервер не отвечает</h4>
          <h5 class="preloader__subtitle">Повторите запрос позже.</h5>
        </div>
      </section>
      <main class="results results_hide">
        <h3 class="results__title">Результаты поиска</h3>
        <div class="results__articles">
          <template id="card-sample">
            <a href="#" class="card" target="_blank">
              <div class="card__upper-body">
                <div class="card__picture"></div>
                <div class="card__icon"></div>
                <p class="card__balloon">Войдите, чтобы сохранять статьи</p>
                <div class="card__wrapper">
                  <p class="card__date"></p>
                  <h4 class="card__title"></h4>
                  <p class="card__text"></p>
                </div>
              </div>
              <p class="card__source"></p>
            </a>
          </template>
        </div>
        <button class="button results__button" id="show-more">Показать еще</button>
      </main>
      <section class="about">
        <img class="about__photo" src="<%= require('./images/ii.jpg')%>" alt="Автопортрет">
        <div>
          <h3 class="about__title">Об авторе</h3>
          <p class="about__text">
            Здравстуйте, я Святослав. Отучился на курсах веб-разработчика на платформе Яндекс.Практикум.
            Мы изучили HTML, CSS, JavaScript, Node.js, Webpack и основы бекэнда, а также роботу с GitHub.
          </p>
          <p class="about__text">
            В процессе обучения овладел навыками адаптивной верстки, работе с пользователями,
            асинхронным запросам к серверу и многому другому.
          </p>
          <p class="about__text">
            В данный момент работаю горняком на севере России. Хочу найти работу по новой для меня специальности.
          </p>
        </div>
      </section>
      <footer class="footer">
        <p class="footer__copyright">&#169; 2019 snegmen</p>
        <nav>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="./" class="footer__list-item_link">Главная</a></li>
            <li class="footer__list-item"><a href="./about/" class="footer__list-item_link">О проекте</a></li>
            <li class="footer__list-item"><a href="https://praktikum.yandex.ru" class="footer__list-item_link" target="_blank">Яндекс.Практикум</a></li>
          </ul>
        </nav>
        <p class="footer__links">
          <a href="https://github.com/snegmen/" class="footer__icon" target="_blank">
            <img src="<%= require('./images/git.svg')%>" alt="Логотип GitHub">
          </a>
          <a href="https://facebook.com" class="footer__icon" target="_blank">
            <img src="<%= require('./images/facebook.svg')%>" alt="Логотип Facebook">
          </a>
        </p>
      </footer>
    </div>

    <div id="hiding-blocks">
      <!-- Уберите(добавьте) класс popup_hide -->
      <section class="popup popup_hide" id="login-form">
        <form class="popup__wrap" name="login">
          <div class="popup__close" id="close-login-form"></div>
          <h4 class="popup__title">Вход</h4>
          <span class="popup__subtitle">E-mail</span>
          <input class="popup__input" name="email" id="email" type="email" placeholder="Введите почту" required>
          <span class="popup__error popup__error_hide" id="error-email">Неправильный формат email</span>
          <span class="popup__subtitle">Пароль</span>
          <input class="popup__input" name="password" id="password" type="password" placeholder="Введите пароль" required>
          <span class="popup__error popup__error_hide" id="error-password">Введите пароль</span>
          <span class="popup__error popup__error_hide popup__error_user" id="login-fatal">Неправильный логин или пароль</span>
          <button class="button popup__button" name="login-button" type="submit">Войти</button>
          <span class="popup__or">или<span class="popup__or-click" id="open-signup-form">Зарегистрироваться</span></span>
        </form>
      </section>
      <!-- Уберите(добавьте) класс popup_hide -->
      <section class="popup popup_hide" id="signup-form">
        <form class="popup__wrap" name="signup">
          <div class="popup__close" id="close-signup-form"></div>
          <h4 class="popup__title">Регистрация</h4>
          <span class="popup__subtitle">E-mail</span>
          <input class="popup__input" name="email" id="regemail" type="email" placeholder="Введите почту" required>
          <span class="popup__error popup__error_hide" id="error-regemail">Введите email</span>
          <span class="popup__subtitle">Пароль</span>
          <input class="popup__input" name="password" id="regpassword" type="password" placeholder="Введите пароль" required minlength="8">
          <span class="popup__error popup__error_hide" id="error-regpassword">Длина пароля не менее 8 символов</span>
          <span class="popup__subtitle">Имя</span>
          <input class="popup__input" name="username" id="regname" placeholder="Введите свое имя" required minlength="2" pattern="[A-Za-zА-Яа-я]{2,}">
          <span class="popup__error popup__error_hide" id="error-regname">Введите имя (только буквы не менее 2)</span>
          <span class="popup__error popup__error_user popup__error_hide" id="signup-fatal">Такой пользователь уже есть</span>
          <button class="button popup__button" name="signup-button" type="submit">Зарегистрироваться</button>
          <span class="popup__or">или<span class="popup__or-click" id="open-login-form">Войти</span></span>
        </form>
      </section>
      <!-- Уберите(добавьте) класс popup_hide -->
      <section class="popup popup_hide" id="signup-ok">
        <form class="popup__wrap" name="it-is-ok">
          <div class="popup__close" id="close-signup-ok-form"></div>
          <h4 class="popup__title">Пользователь успешно зарегистрирован!</h4>
          <span class="popup__or popup__or_left">
            <span class="popup__or-click" id="open-login-modal">Выполнить вход</span>
          </span>
        </form>
      </section>

      <div class="overlay"></div>
      <div class="sys-error" id="system-error">
        <div class="sys-error__close"></div>
        <p class="sys-error__message" id="system-error-message"></p>
      </div>
    </div>
  </div>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>