@import url(../header/_white/header_white.css);

.header {
  position: relative;
  min-height: 576px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/background.png);
}

@media screen and (max-width: 1023px) {
  .header {
    min-height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 536px;
  }
}
