@import url(_selected/heading__item_selected.css);

.heading__item {
  margin-right: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.heading__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  .heading__item {
    font-size: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 767px) {
  .heading__item {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 100%;
    display: none;
    background-color: #1a1b22;
  }
}
